* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #24272a;
    --color-secondary: #ffffff;
    --utility-blue: #255EE9;
    --section-background: #f6f6f6;
}
body {
    font-family: 'Noto Sans', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

/* colors */
.txt-violet {
    color: #7887d8;
}
.btn-white {
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    color: var(--color-primary);
}
.btn-black {
    border-radius: 20px;
    background-color: var(--color-primary);
    padding: 10px;
    color: white;
}
.btn-purple {
    border-radius: 20px;
    background-color: #7887d8;
    padding: 10px;
    color: white;
}
.bg-gray {
    background-color: var(--section-background);
}
.bg-stars {
    background-image: url(../img/stars.svg);
    background-position-x: 50%;
    background-repeat: no-repeat;
    padding: 50px;
}

/* utility */
.debug {
    border: 1px solid black;
}
main {
    margin: 0 auto;
}
header {
    min-height: 500px;
}
nav {
    background-color: var(--utility-blue);
    padding: 10px 0;
    font-size: 0.9em;
}
.middle-box {
    max-width: 80%;
    margin: 0 auto;
}
ul {
    margin-top: 5px;
    list-style: none;
}
.li-horizontal {
    display: inline-block;
    margin: 5px 10px;
}
a {
    text-decoration: none;
}
li > a {
    color: var(--color-secondary);
}
ul + a {
    margin: 5px 10px;
    color: var(--color-primary);
}
#hero {
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 1200px;
    min-height: 450px;
    color: var(--color-secondary);
}
.hero-txt {
    padding: 0 30px;
    padding-top: 100px;
    padding-bottom: 10px;
    text-align: center;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.hero-buttons {
    margin-top: 20px;
}
.hero-buttons > a {
    margin: 0 20px;
}
section > div {
    padding: 40px;
}
h2 {
    font-size: 2.2em;
    margin: 20px 0;
}
.flex-section > img {
    min-width: 600px;
}
.flex-reversed-section > img {
    min-width: 600px;
}
.container {
    text-align: center;
}
.txt-margin {
    margin: 30px 0;
}
footer {
    background-color: var(--color-primary);
    max-width: 1200px;
    min-height: 450px;
    margin: 0 auto;
    color: var(--color-secondary);
}
.top-footer {
    font-size: 0.7em;
    padding-top: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid #7887d8;
}
.left-top > *{
    margin-bottom: 15px;
}
.language > img {
    width: 20px;
}
h3 {
    font-size: 1.7em;
}
.social-logos > i {
    margin: 0 5px;
    font-size: 1.5em;
}
.top-footer > ul > li {
    margin-bottom: 10px;
}
.bottom-footer {
    margin-top: 10px;
    font-size: 0.7em;
}
.bottom-footer > img {
    width: 100px;
}
/* Flex */
.flex-general {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}
.flex-hero {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.flex-section {
    display: flex;
}
.flex-reversed-section {
    display: flex;
    flex-direction: row-reverse;
}
.flex-column-section {
    display: flex;
    flex-flow: column wrap;
}
.flex-top-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flex-bottom-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
